@font-face {
    font-family: 'Fira Code';
    src: url('Font/FiraCode-Light.eot');
    src: url('Font/FiraCode-Light.eot?#iefix') format('embedded-opentype'),
        url('Font/FiraCode-Light.woff2') format('woff2'),
        url('Font/FiraCode-Light.woff') format('woff'),
        url('Font/FiraCode-Light.ttf') format('truetype'),
        url('Font/FiraCode-Light.svg#FiraCode-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

h1 {
  text-align: center;
  font-family: "Fira Code";
  color: #3c9e53;
}
h2 {
  text-align: center;
  font-family: "Fira Code";
  color: #3c9e53;
}

h3 {
  font-family: "Fira Code";
}

h4 {
  font-family: "Fira Code";
}

h5 {
  font-family: "Fira Code";
}

h6 {
  font-family: "Fira Code";
}

h7 {
  font-family: "Fira Code";
}

h8 {
  font-family: "Fira Code";
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: #3c9e53;
   text-align: center;
}
